<div class="content">
  <div class="name">
    <%= @name %>
  </div>

  <div class="sellout">
    Advertisement:
    <div>
      <%= @amazon.html_safe %>
    </div>
  </div>

  <div class="byline">
    Made with all due respect, and the assistance of many <a href="https://www.youtube.com/watch?v=9GHPNKUMf70" target="_blank">panglings</a>.
    <div class="permutations">
      <%= "(This is one of #{@permutations} currently-possible <strong>BeneWHO CumberWHAT</strong> permutations.)".html_safe %>
    </div>
  </div>
</div>